<div>
  <%= @user.id %>
  <%= @user.email %>
</div>
<% @user.events.each do |post| %>
  <div>
    <%= post.id %>
    <%= post.title %>
    <%= post.date %>
  </div>
<% end %>
<% @user.attended_events.each do |post| %>
  <% if Date.today < post.date %>
    <div>
      <%= post.title %>
      <%= post.date %>
    </div>
  <% end %>
<% end %>
<br>
<% @user.attended_events.each do |post| %>
  <% if Date.today > post.date %>
    <div>
      <%= post.title %>
      <%= post.date %>
    </div>
  <% end %>
<% end %>
<%= link_to "Home", root_path %>